.beatmaker {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;

    width: 100vw;
    height: 100vh;

    padding: 3%;
}

.beat {
    box-sizing: border-box;

    max-height: 100%;
    width: 75%;
    aspect-ratio: 1.3 / 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4%;

    padding: 2vw;

    border-radius: 2.5vw;
    border: 0.3vw solid #000;

    background: #FFF;
}

/* ЗВУКОВЫЕ ДОРОЖКИ */

.br {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tsg {
    display: flex;
    align-items: flex-start;
    gap: 0.5vw;
}

.tr,
.ts {
    width: 3vw;
    aspect-ratio: 1 /1;
}

.tr {
    border-radius: 50%;
}

.ts {
    border-radius: 0.6vw;
}

/* ЦВЕТА */

.r1 .tr,
.r1 .ts {
    border: 0.3vw solid #FF6EC5;
    background: #FF6EC5;
}

.r2 .tr,
.r2 .ts {
    border: 0.3vw solid #3B7DF3;
    background: #3B7DF3;
}

.r3 .tr,
.r3 .ts {
    border: 0.3vw solid #FF323A;
    background: #FF323A;
}

.r4 .tr,
.r4 .ts {
    border: 0.3vw solid #75E658;
    background: #75E658;
}

.r5 .tr,
.r5 .ts {
    border: 0.3vw solid #FFD33D;
    background: #FFD33D;
}

.button-disabled {
    background: none;
}

/* НАЗАД */

.back {
    position: absolute;
    bottom: 6vw;
    left: 6vw;
}

/* СЭМПЛЫ */

.samples {
    position: relative;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -763px;

    max-height: 100%;
    width: 25%;
    aspect-ratio: 1 / 2.3;

    padding: 0vw 1.5vw 1.5vw 1.5vw;

    border-radius: 2.5vw;
    border: 0.3vw solid #000;

    background: #FFF;
}

.samples-balloon {
    width: 100%;

    display: flex;
    align-items: flex-start;
}

#balloonimg {
    height: 13vw;
    rotate: 25deg;
}

.samples-ball {
    width: 100%;

    display: flex;
    justify-content: flex-end;

    margin-top: -16%;
}

#ballimg {
    height: 9vw;
}

.samples-bell {
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: -2%;
}

#bellimg {
    height: 10vw;
    rotate: 40deg;
}

.samples-ruler {
    width: 100%;

    display: flex;
    justify-content: flex-start;

    margin-top: -20%;
}

#rulerimg {
    height: 22vw;
}

.samples-banana {
    width: 100%;

    display: flex;
    justify-content: flex-end;

    margin-top: -70%;
}

#bananaimg {
    height: 12vw;
    rotate: -65deg;
}

.disabled-sample-button {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* ИНДИКАТОРЫ */

.sample-indicator {
    z-index: 1;

    width: 2.6vw;
    height: 2.6vw;

    border-radius: 50%;
}

.si-balloon {
    border: 0.3vw solid #fff;
    background: #3B7DF3;

    margin-left: -12%;
}

.si-ball {
    border: 0.3vw solid #fff;
    background: #FF6EC5;

    margin-left: -12%;
}

.si-bell {
    border: 0.3vw solid #fff;
    background: #FF323A;

    margin-left: -20%;
    margin-top: 10%;
}

.si-ruler {
    border: 0.3vw solid #fff;
    background: #75E658;

    margin-left: -35%;
    margin-top: 10%;
}

.si-banana {
    border: 0.3vw solid #fff;
    background: #FFD33D;

    margin-left: -12%;
    margin-top: 6%;
}