.beatmaker {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;

    width: 100vw;
    height: 100vh;

    padding: 3%;
}

.beat {
    box-sizing: border-box;

    height: 100%;
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4%;

    padding: 2vw;

    border-radius: 2.5vw;
    border: 0.4vw solid #000;

    background: #FFF;
}

/* ЗВУКОВЫЕ ДОРОЖКИ */

.br {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tsg {
    display: flex;
    align-items: flex-start;
    gap: 1vw;
}

.tr,
.ts {
    width: 2.6vw;
    aspect-ratio: 1 /1;
}

.tr {
    border-radius: 50%;
}

.ts {
    border-radius: 0.6vw;
}

/* ЦВЕТА */

.r1 .tr,
.r1 .ts {
    border: 0.4vw solid #FF6EC5;
    background: #FF6EC5;
}

.r2 .tr,
.r2 .ts {
    border: 0.4vw solid #3B7DF3;
    background: #3B7DF3;
}

.r3 .tr,
.r3 .ts {
    border: 0.4vw solid #FF323A;
    background: #FF323A;
}

.r4 .tr,
.r4 .ts {
    border: 0.4vw solid #75E658;
    background: #75E658;
}

.r5 .tr,
.r5 .ts {
    border: 0.4vw solid #FFD33D;
    background: #FFD33D;
}

.button-disabled {
    background: none;
}

/* НАЗАД */

.back {
    position: absolute;
    bottom: 6vw;
    left: 6vw;
}

/* СЭМПЛЫ */

.samples {
    position: relative;

    box-sizing: border-box;

    height: 100%;
    width: 25%;

    border-radius: 2.5vw;
    border: 0.4vw solid #000;

    background: #FFF;
}

#balloonimg {
    height: 25%;
    position: absolute;

    left: 6%;
    top: 3%;

    rotate: 25deg;
}

#ballimg {
    height: 20%;
    position: absolute;

    left: 45%;
    top: 20%;

    rotate: 30deg;
}

#bellimg {
    height: 28%;
    position: absolute;

    left: 25%;
    top: 36%;

    rotate: 80deg;
}

#rulerimg {
    height: 36%;
    position: absolute;

    left: -9%;
    bottom: 7%;

    rotate: -65deg;
}

#bananaimg {
    height: 25%;
    position: absolute;

    right: 10%;
    bottom: 6%;

    rotate: -65deg;
}