.cardeditor {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;

    padding: 6%;
}

.card {
    box-sizing: border-box;

    max-height: 100%;
    width: 50%;
    aspect-ratio: 3 / 4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4%;

    padding: 2vw;

    border: 0.4vw solid #000;

    background: #FFF;
}

.editor {
    position: relative;

    box-sizing: border-box;

    max-height: 100%;
    width: 50%;
    aspect-ratio: 3 / 4;

    border-radius: 2.5vw;
    border: 0.4vw solid #000;

    background: #FFF;
}

/* НАЗАД */

.card-back {
    position: absolute;
    bottom: 3vw;
    left: 3vw;
}