/* UI ELEMENTS */

body {
    font-family: "HelveticaNeue";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;

    font-family: "HelveticaNeue";
    font-size: 6vw;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;

    margin: 0;
}

p {
    color: #000000;

    font-family: "HelveticaNeue";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;

    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 0.4vw solid #000000;
    border-radius: 50%;
    background-color: white;
    padding: 24px;
    font-size: 6vw;

    width: 9vw;
    height: 9vw;
}

.buttons h1 {
    rotate: -3.3deg;
    margin: 0;
}

/* .buttons:hover {
    border: 0.4vw solid #868686;
    transition: .05s;
}

.buttons:hover h1 {
    color: #868686;
    transition: .05s;
} */

.button-active {
    background-color: #000000;
    border: 0.4vw solid #000000;
    transition: .05s;
}

.button-active h1 {
    color: #ffffff;
}

/* НАЧАЛЬНЫЙ ЭКРАН */

.first {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    padding: 6% 9% 6% 9%;
}

.fbkg {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    width: 100%;
    height: auto;
}

.fbkgm {
    height: 100%;
}

.fm {
    width: 100%;
    height: 100%;
}

/* ЗАГОЛОВОК */

.fb {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fbrows {
    border: 0.4vw solid #000000;
    border-radius: 2vw;

    padding: 2vw;
    background-color: white;

    margin: -0.5vw;
}

.fbrow1 {
    rotate: 1deg;
}

.fbrow2 {
    rotate: -3.31deg;

}

.fb:hover .fbrow1 {
    rotate: -3deg;
    transition: 0.3s;
}

.fb:hover .fbrow2 {
    rotate: 1.5deg;
    transition: 0.3s;
}

.fb:active .fbrows {
    background-color: #000000;

    transition: .05s;
}

.fb:active .fbrows h1 {
    color: #ffffff;
}

/* ИНФО */

.finfo {
    position: absolute;
    left: 2vw;
    top: 2vw;

    display: flex;
    gap: 2vw;
}

.info {
    position: relative;
}

.infotext {
    display: none;

    max-width: 40vw;

    position: relative;

    border: 0.4vw solid #000000;
    border-radius: 2vw;

    padding: 2vw;
    background-color: white;
}