@import url(ui-elements.css);
@import url(first.css);
@import url(second.css);
@import url(beatmaker.css);
@import url(cardeditor.css);
@import url(final.css);

@font-face {
    font-family: "HelveticaNeue";
    src: url(../fonts/HelveticaNeue-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}