body {
    font-family: "HelveticaNeue";
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;

    font-family: "HelveticaNeue";
    font-size: 6vw;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;

    margin: 0 0 0.8vw 0;
}

p {
    color: #000000;

    font-family: "HelveticaNeue";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;

    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 0.3vw solid #000000;
    border-radius: 50%;
    background-color: white;
    padding: 1.5vw;
    font-size: 6vw;

    width: 8vw;
    height: 8vw;

    transition: 0.5s rotate;
}

.buttons h1 {
    rotate: -3.3deg;
    margin: 0;
}

.buttons:hover {
    rotate: -12deg;
    transition: 0.5s rotate;
}

.button-active {
    background-color: #000000;
    border: 0.3vw solid #000000;
}

.button-active h1 {
    color: #ffffff;
}

.tbstyle {
    border: 0.3vw solid #000000;
    border-radius: 2vw;

    padding: 2vw;
    background-color: white;

    margin: -0.5vw;
}

.back-arrow-svg {
    width: 100%;
    aspect-ratio: 1/1;
}